h2 {
  width: 100%;
  text-align: center;
  margin: 10% 0;
}

form {
  margin: 10% 0;
  display: flex;
  justify-content: center;

  input {
    border: solid 1px var(--green-light);
    border-radius: 10px;
    width: 90%;
    height: 40px;
    outline: none;

    &::placeholder {
      text-align: center;
      color: var(--font-color);
    }

    &::-webkit-search-cancel-button {
      display: none;
    }
  }
}

.content-body {
  padding: 10% 0;
  max-height: 400px;
  overflow: scroll;
}
