table {
  width: 100%;

  thead {
    th {
      text-align: center;
    }
  }

  tbody {
    max-height: 400px;

    tr {
      font-size: 0.8rem;

      td {
        text-align: center;

        a {
          width: 15px;
          height: 15px;
          background-color: var(--green-light);
          color: #fff;
          border-radius: 15px;
          border-radius: 5px;
          padding: 7px;
        }
      }
    }


  }
}
