table {
  width: 100%;

  thead {
    th {
      text-align: center;
    }
  }

  tbody {
    max-height: 400px;

    tr {
      font-size: 0.8rem;

      td {
        text-align: center;

        a {
          width: 35px;
          height: 35px;
          background-color: var(--green-light);
          color: #fff;
          border-radius: 50%;
          padding: 10%;
          margin: 0 auto;
        }
      }
    }


  }
}
