footer {
  position: absolute;
  background-color: var(--gray-light);
  color: var(--font-color);

  a {
    color: var(--green-light);
  }

  @media screen and (min-width: 768px) {
    position: relative;

    figure,
    h5 {
      text-align: center;
    }
  }
}
