h2 {
  width: 100%;
  text-align: center;
  margin: 10% 0;
}

h3 {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
  border-top: 1px solid var(--green-light);
  border-bottom: 1px solid var(--green-light);
}

form {
  margin: 10% 0;
  display: flex;
  justify-content: center;

  input {
    border: solid 1px var(--green-light);
    border-radius: 10px;
    width: 90%;
    height: 40px;
    outline: none;

    &::placeholder {
      text-align: center;
      color: var(--font-color);
    }
  }
}

.content-body {
  padding: 10% 0;
  max-height: 400px;
  overflow: scroll;
}
