h2 {
  width: 100%;
  text-align: center;
  margin: 10% 0;
}

h3 {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 5%;
  border-top: 1px solid var(--green-light);
  border-bottom: 1px solid var(--green-light);
}

form {
  margin: 10% 0;
  display: flex;
  justify-content: center;

  input {
    border: solid 1px var(--green-light);
    border-radius: 10px;
    width: 90%;
    height: 40px;
    outline: none;

    &::placeholder {
      text-align: center;
      color: var(--font-color);
    }
  }
}

.content-body {
  padding: 10% 0;
  max-height: 400px;
  overflow: scroll;
}

@media screen and (min-width: 768px) {

  h2,
  form,
  h3 {
    width: 45%;
    margin: 2% auto;
  }

  h2 {
    width: 80%;
  }

  h3 {
    border-top: none;
    border-bottom: none;
    padding: 2% 5%;
  }

  .content-body {
    padding: 20px 0;
    overflow: auto;
    width: 50%;
    margin: 50px auto;
  }
}
